<?xml version="1.0"?>
<!--
/**
 * @package     Training5\VendorRepository
 * @version     0.1.0
 * @author      Sam Tay @ Blue Acorn, Inc. <code@blueacorn.com>
 * @copyright   Copyright © 2015 Blue Acorn, Inc.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Training5\VendorRepository\Api\Data\VendorInterface"
                type="Training5\VendorRepository\Model\Vendor" />
    <preference for="Training5\VendorRepository\Api\VendorRepositoryInterface"
                type="Training5\VendorRepository\Model\ResourceModel\VendorRepository" />
    <preference for="Training5\VendorRepository\Api\Data\VendorSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <type name="Training5\VendorRepository\Model\Vendor">
        <plugin name="vendorExtension" type="\Training5\VendorRepository\Plugin\VendorExtension"/>
    </type>
    <type name="Training5\VendorRepository\Model\ResourceModel\Vendor\Collection">
        <plugin name="vendorCollectionExtension" type="\Training5\VendorRepository\Plugin\VendorCollectionExtension"/>
    </type>
</config>
