<?xml version="1.0"?>
<!--
 @package     Training2\Specific404Pages
 @version     
 @author      Blue Acorn, Inc. <code@blueacorn.com>
 @copyright   Copyright © 2015 Blue Acorn, Inc.
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
 <router id="standard">
  <route id="training2" frontName="training2">
   <module name="Training2_Specific404Page" />
  </route>
 </router>
</config>